.main-container {
    height: 100vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

// .dialog {
//      color: aqua;
// }
